*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff33;
}

*::-webkit-scrollbar-thumb {
    background-color: #704dfb;
    width: 2px;
    border-radius: 3px;
    border: 2px solid #704dfb;
    cursor: pointer;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222428;
    color: #eee;
}

header {
    background-color: #2f3034;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
}

header .logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #fecd2f;
}

header nav a {
    color: #eee;
    font-size: calc(1.5em - 3px);
    text-decoration: none;
    margin: 0 20px;
    transition: 0.3s all;
}

header nav a:hover {
    color: #fecd2f;
}

header nav .nav-subs {
    display: inline-block;
}

.notification-link {
    position: relative;
    display: inline-block;
}

.notification-badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #9a3436;
    color: #eee;
    font-size: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
}

.messages {
    background-color: #2f3034;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;}

main {
    margin-top: 49px;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 71px;
    gap: 20px;
}

.left-panel,
.right-panel {
    width: 20%;
}

.main-content {
    width: calc(60% - 40px);
}

.profile {
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.new-post {
    background-color: #2f3034;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.new-post textarea {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    background-color: #ffffff00;
    color: #eee;
    resize: none;
}

textarea:focus {
    outline: none;
}

input[type="text"]:focus {
    outline: none;
}

.new-post button {
    background-color: #704dfb;
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 50px;
    transition: 0.3s all;
}

.new-post button:hover {
    background-color: #a68fff;
}

button {
    font-family: 'Montserrat Alternates', sans-serif;
}

.sign-out {
    text-align: center;
}

.sign-out-button {
    background-color: #9a3436;
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s all;
}

.sign-out-button:hover {
    background-color: #e74c4c;
}

.subscribe {
    text-align: center;
}

.subscribe-button {
    background-color: #704dfb;
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s all;
}

.subscribe-button:hover {
    background-color: #a68fff;
}

.write-message {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.write-message a {
    text-decoration: none;
    background-color: #704dfb;
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s all;
}

.posts .post {
    display: grid;
    grid-template-areas: "img user" "img time" "content content" "actions actions" "comments comments" "add-comment add-comment" ;
    grid-template-columns: 50px 1fr;
    background-color: #2f3034;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.posts .post img {
    grid-area: img;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.post-datetime {
    grid-area: time;
    font-size: 0.8em;
    color: #999;
    margin: 0 0 0 10px;
}

.post h3 {
    grid-area: user;
    margin: 0 0 0 10px;
}

.post p {
    grid-area: content;
    margin: 5px 0 0;
}

.post-actions {
    grid-area: actions;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 5px;
}

.like-button {
    background: none;
    border: none;
    color: #9a3436;
    cursor: pointer;
    margin-right: 15px;
    font-size: 1em;
    display: flex;
    align-items: center;
    padding-left: 0;
    transition: 0.3s all;
}

.like-button.disabled {
    background: none;
    border: none;
    color: #a0a0a0;
    cursor: not-allowed;
    margin-right: 15px;
    font-size: 1em;
    display: flex;
    align-items: center;
    padding-left: 0;
    transition: 0.3s all;
}

.like-button.disabled:hover {
    color: #a0a0a0;
}

.comment-button {
    background: none;
    border: none;
    color: #704dfb;
    cursor: pointer;
    margin-right: 15px;
    font-size: 1em;
    display: flex;
    align-items: center;
    transition: 0.3s all;
}

.like-button:hover {
    color: #e74c4c;
}

.comment-button:hover {
    color: #a68fff;
}

.like-button i,
.comment-button i {
    margin-right: 5px;
}

.comment-form {
    grid-area: add-comment;
    display: none;
    gap: 10px;
    margin: 10px 0;
    padding-left: 10px;
}

.comment-form input {
    flex: 1;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background: #00000000;
    backdrop-filter: brightness(1.2);
    color: #eee;
    font-family: "Montserrat Alternates", sans-serif;
}

.comment-form button {
    background-color: #704dfb;
    color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

.comment-form button:hover {
    background-color: #a68fff;
}

.comment-list {
    grid-area: comments;
    margin-top: 10px;
    padding-left: 10px;
    display: none;
}

.comment-list p {
    margin: 5px 0;
    font-size: 0.9em;
}

.subscriptions {
    background-color: #2f3034;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.subscriptions h3 {
    text-align: center;
    margin: 0 10px 10px;
}

.subscriptions-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscriptions-list a{
    text-decoration: none;
    color: inherit;
}

.subscription {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
}

.subscription img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.subscription p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

footer {
    background-color: #2f3034;
    color: #eee;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 900px) {

    .left-panel {
        width: 100%;
        margin: 0;
    }

    .right-panel {
        width: 100%;
        display: none;
    }

    .main-content {
        width: 100%;
    }

    .profile img {
        width: 80px;
        height: 80px;
    }

    .posts .post img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 500px) {
    header {
        padding: 10px 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: calc(100% - 20px);
    }

    header nav a {
        margin: 0 15px;
    }

    main {
        margin-top: 84px;
        margin-bottom: 0;
    }

    header .logo {
        font-size: 1.2em;
    }


    .posts .post {
        flex-direction: column;
    }

    .posts .post img {
        width: 30px;
        height: 30px;
    }

    footer {
        display: none;
    }
}