*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff33;
}

*::-webkit-scrollbar-thumb {
    background-color: #704dfb;
    width: 2px;
    border-radius: 3px;
    border: 2px solid #704dfb;
    cursor: pointer;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222428;
    color: #eee;
}

header {
    background-color: #2f3034;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
}

header .logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #fecd2f;
}

header nav a {
    color: #eee;
    font-size: calc(1.5em - 3px);
    text-decoration: none;
    margin: 0 20px;
}

header nav a:hover {
    color: #fecd2f;
}

.notification-link {
    position: relative;
    display: inline-block;
}

.notification-badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #9a3436;
    color: #eee;
    font-size: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
}

main {
    margin-top: 49px;
    display: flex;
    padding: 20px;
    margin-bottom: 71px;
    justify-content: center;
}

.main-content {
    width: calc(60% - 40px);
    max-width: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    backdrop-filter: brightness(1.2);
    border-radius: 10px;
}

.change-avatar-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

.avatar-input {
    display: none;
}


.change-avatar-button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.change-password-button {
    background-color: #704dfb;
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s all;
    font-family: "Montserrat Alternates", sans-serif;
}

.change-password-button:hover {
    background-color: #a68fff;
}

.sign-out {
    text-align: center;
}

.sign-out-button {
    background-color: #9a3436;
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s all;
    font-family: "Montserrat Alternates", sans-serif;
}

.sign-out-button:hover {
    background-color: #e74c4c;
}

.delete-account-button {
    background-color: #111;
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s all;
    font-family: "Montserrat Alternates", sans-serif;
}

.change-email-button,
.change-phone-button {
    background-color: #383a41;
    color: #eee;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s all;
    font-family: "Montserrat Alternates", sans-serif;
}

.change-email-button:hover,
.change-phone-button:hover {
    background-color: #4a4e59;
}

h1 {
    margin: 20px 0 0;
}


.annotation {
    color: #999;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.email,
.phone {
    font-size: 16px;
}


.delete-account-button:hover {
    background-color: #222;
}

.login-button {
    background-color: #fecd2f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s all;
    font-family: "Montserrat Alternates", sans-serif;
}

.login-button:hover {
    background-color: #fe9f2f;
}

main a {
    text-decoration: none;
    font-size: 14px;
}

footer {
    background-color: #2f3034;
    color: #eee;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 900px) {

    .main-content {
        width: 100%;
        padding: 20px;
    }

}

@media (max-width: 500px) {
    header {
        padding: 10px 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: calc(100% - 20px);
    }

    header nav a {
        margin: 0 15px;
    }

    .info {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .change-avatar-button {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    table {
        font-size: 12px !important;
    }

    .email,
    .phone {
        font-size: 12px;
    }

    main a {
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    main {
        margin-top: 84px;
        margin-bottom: 0;
    }

    header .logo {
        font-size: 1.2em;
    }

    footer {
        display: none;
    }
}