{% extends 'base.html' %}
{% load static %}

{% block title %}Change password{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'accounts/css/change_password.css' %}">
{% endblock %}

{% block content %}
    <div class="form">
        <h1>Изменить пароль</h1>
        <form method="post" action=".">
            {% csrf_token %}
            <input type="password" id="old_password" name="old_password" placeholder="Старый пароль">
            <input type="password" id="new_password1" name="new_password1" placeholder="Новый пароль">
            <input type="password" id="new_password2" name="new_password2" placeholder="Повторите новый пароль">
            <button type="submit" name="change-password">Сменить пароль</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="error">{{ field.label }}: {{ error }}</div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}