*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff33;
}

*::-webkit-scrollbar-thumb {
    background-color: #704dfb;
    width: 2px;
    border-radius: 3px;
    border: 2px solid #704dfb;
    cursor: pointer;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222428;
    color: #eee;
}

header {
    background-color: #2f3034;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
}

header .logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #fecd2f;
}

.notification-link {
    position: relative;
    display: inline-block;
}

.notification-badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #9a3436;
    color: #eee;
    font-size: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
}

main {
    margin-top: 100px;
    display: flex;
    padding: 20px;
    margin-bottom: 71px;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

main .registration {
    background-color: #2f3034;
    color: #eee;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.3s all;
}

main .registration h1 {
    text-align: center;
    margin-bottom: 20px;
}

main .registration form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main .registration form input {
    background-color: #ffffff11;
    color: #eee;
    border: none;
    padding: 7px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100%;
    transition: 0.3s all;
    font-size: 16px;
}

main .registration form input:focus {
    outline: none;
}

main .registration form button {
    background-color: #704dfb;
    color: #eee;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
}

main .registration form button:hover {
    background-color: #a68fff;
}



footer {
    background-color: #2f3034;
    color: #eee;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 500px) {
    main {
        margin-top: 84px;
        margin-bottom: 0;
    }

    header .logo {
        font-size: 1.2em;
    }

    footer {
        display: none;
    }
}