*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff33;
}

*::-webkit-scrollbar-thumb {
    background-color: #704dfb;
    width: 2px;
    border-radius: 3px;
    border: 2px solid #704dfb;
    cursor: pointer;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222428;
    color: #eee;
}

header {
    background-color: #2f3034;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
}

header .logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #fecd2f;
}

header nav a {
    color: #eee;
    font-size: calc(1.5em - 3px);
    text-decoration: none;
    margin: 0 20px;
}

header nav a:hover {
    color: #fecd2f;
}

.notification-link {
    position: relative;
    display: inline-block;
}

.notification-badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #9a3436;
    color: #eee;
    font-size: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
}

main {
    margin-top: 49px;
    display: flex;
    padding: 20px;
    margin-bottom: 71px;
    align-items: center;
    flex-direction: column;
}

.subscriptions {
    background-color: #2f3034;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.subscriptions h3 {
    text-align: center;
    margin: 0 10px 20px;
}

.subscriptions-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscriptions-list a{
    text-decoration: none;
    color: inherit;
}

.subscription {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.subscription img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.subscription p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.people {
    background-color: #2f3034;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-areas: "people find" "paginator paginator" "people-list people-list";
    gap: 10px;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 40px 40px 1fr;
}

.pagination {
    grid-area: paginator;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.pagination a {
    text-decoration: none;
    color: inherit;
    background-color: #43444a;
    padding: 3px;
    border-radius: 5px;
    flex: 1;
    flex-basis: 29px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
}

.current {
    background-color: #2f3034 !important;
}

.people h3 {
    grid-area: people;
    text-align: center;
    padding-top: 7px;
    margin: 0;
}

.people-list {
    grid-area: people-list;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.people-list a{
    text-decoration: none;
    color: inherit;
}

.person {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.person img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.person p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.find {
    grid-area: find;
    display: flex;
    align-items: center;
    gap: 10px;
}

.find_form {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

.find_form input[type="text"] {
    background-color: #ffffff11;
    color: #eee;
    border: none;
    padding: 7px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100%;
    transition: 0.3s all;
}

.find_form input[type="text"]:focus {
    outline: none;
}

.find button[type="submit"] {
    background-color: #704dfb;
    color: #eee;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    width: 40px;
    transition: 0.3s all;
}

footer {
    background-color: #2f3034;
    color: #eee;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 500px) {
    header {
        padding: 10px 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: calc(100% - 20px);
    }

    header nav a {
        margin: 0 15px;
    }

    main {
        margin-top: 84px;
        margin-bottom: 0;
    }

    header .logo {
        font-size: 1.2em;
    }

    footer {
        display: none;
    }
}