*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff33;
}

*::-webkit-scrollbar-thumb {
    background-color: #704dfb;
    width: 2px;
    border-radius: 3px;
    border: 2px solid #704dfb;
    cursor: pointer;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222428;
    color: #eee;
}

header {
    background-color: #2f3034;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: calc(100% - 40px);
}

header .logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #fecd2f;
}

header nav a {
    color: #eee;
    font-size: calc(1.5em - 3px);
    text-decoration: none;
    margin: 0 20px;
}

header nav a:hover {
    color: #fecd2f;
}

.notification-link {
    position: relative;
    display: inline-block;
}

.notification-badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #9a3436;
    color: #eee;
    font-size: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
}

main {
    margin-top: 49px;
    display: flex;
    padding: 20px;
    margin-bottom: 71px;
    justify-content: center;
}

.main-content {
    width: calc(75% - 40px);
    max-width: 700px;
    margin-left: 20px;
}

.messages {
    background-color: #2f3034;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: "user last-seen" "messages messages" "msg-input msg-input";
    gap: 10px;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 40px 65vh 60px;
}

.messages-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: messages;
    max-height: 63vh;
    overflow-y: auto;
}

.message-input {
    grid-area: msg-input;
}

.message-input form {
    display: flex;
    align-items: center;
}

.message-input form textarea {
    height: 60px;
    background-color: #ffffff11;
    color: #eee;
    border: none;
    padding: 7px;
    padding-right: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100%;
    transition: 0.3s all;
    resize: none;
}

.message-input form textarea:focus {
    outline: none;
}

.message-input button {
    display: inline-block !important;
    background-color: #704dfb;
    color: #eee;
    border: none;
    padding: 7px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 50px;
    height: 30px;
    transition: 0.3s all;
    margin-left: 10px;
}

.message-input button:hover {
    background-color: #a68fff;
}

.message {
    display: grid;
    gap: 10px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s all;
    background-color: #ffffff11;
    grid-template-areas: "mes-img mes-user mes-time" "mes-img mes-content mes-content";
    grid-template-columns: 30px 1fr 40px;
}

.message .sender {
    grid-area: mes-user;
    font-weight: bold;
}

.message .text {
    grid-area: mes-content;
}

.message .time {
    grid-area: mes-time;
    text-align: right;
    font-size: 0.9em;
    color: #999;
}

.messages h3 {
    grid-area: user;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messages h3 img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.last-seen {
    grid-area: last-seen;
    margin: 0;
    font-size: 0.8em;
    color: #999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    grid-area: mes-img;
}

.left-panel {
    width: 25%;
}

.chats {
    background-color: #2f3034;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: "chats find" "chats-list chats-list";
    gap: 10px;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 40px 1fr;
}

.chats h3 {
    text-align: center;
    grid-area: chats;
    margin: 0;
    padding-top: 7px;
}

.chats-list a{
    text-decoration: none;
    color: inherit;
}

.find {
    grid-area: find;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

input[type="text"] {
    background-color: #ffffff11;
    color: #eee;
    border: none;
    padding: 7px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100%;
    transition: 0.3s all;
}

input[type="text"]:focus {
    outline: none;
}

button[type="submit"] {
    display: none;
}

.chats-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: chats-list;
}

.chat {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
    background-color: #ffffff11;
}

.chat:hover {
    background-color: #ffffff22;
}

.chat img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chat h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    background-color: #2f3034;
    color: #eee;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .main-content {
        width: 100%;
        margin: 0;
    }

    .left-panel {
        width: 100%;
        max-width: 700px;
        margin: 0;
    }

    .messages {
        grid-template-rows: 40px 45vh 60px;
        margin-bottom: 0;
    }

    .message {
        font-size: 14px;
    }

    .messages-list {
        max-height: 43vh;
    }
}

@media (max-width: 500px) {
    header {
        padding: 10px 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: calc(100% - 20px);
    }

    header nav a {
        margin: 0 15px;
    }

    main {
        margin-top: 84px;
        margin-bottom: 0;
    }

    header .logo {
        font-size: 1.2em;
    }

    footer {
        display: none;
    }
}